.summary-top {
  border: none;
  padding: 0;
  margin: 0;
}
.mobile-browser #product-accordion .accordion-toggle:after {
  content: "";
  background: url("../icons/dropdown-arrow.svg") no-repeat;
  height: 9px;
  width: 14px;
  margin: 0;
  transform: translateY(-50%), rotate(90deg);
}
.mobile-browser
  #product-accordion
  .accordion-heading.active
  .accordion-toggle:after {
  transform: rotate(180deg);
}
.single-product .related.products ul.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.single-product .related.products ul.products::before,
.single-product .related.products ul.products::after {
  display: none;
}
.single-product .related.products ul.products .product {
  float: none;
  width: 100%;
}
.summary .accordion {
  margin-bottom: 10px;
}
.share-links {
  margin: 0;
  padding: 0;
  border: none;
  color: #666;
}
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
  color: #707070;
}
.woocommerce table.shop_table tr td.product-remove .remove {
  background: none !important;
  box-shadow: none;
  color: #000 !important;
}
.woocommerce table.shop_table tr td,
.woocommerce-page table.shop_table tr td {
  vertical-align: middle;
}
.woocommerce-cart .wc-proceed-to-checkout a.continue-shopping {
  background: none !important;
  border: 1px solid #000;
}
.woocommerce .coupon {
  float: none;
}
.woocommerce-cart .wc-proceed-to-checkout.update-cart-cta {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.woocommerce-cart .wc-proceed-to-checkout.update-cart-cta button {
  background: none;
  border: 1px solid #000;
  color: #000 !important;
  border-radius: 0;
}
.woocommerce-cart .wc-proceed-to-checkout.cta-buttons-checkout {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.woocommerce-cart .wc-proceed-to-checkout.cta-buttons-checkout a {
  max-width: 280px;
  width: 100%;
}
.woocommerce-cart
  .wc-proceed-to-checkout.cta-buttons-checkout
  a.checkout-button {
  background-color: #000 !important;
  font-weight: 600;
}
.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
  margin-bottom: 0;
}
.woocommerce-error {
  border-top: none;
  background: none;
  margin: 0;
}
.coupon {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.coupon__wrapper {
  margin-bottom: 15px;
}
.coupon__wrapper,
.bonus_point__grid {
  max-width: 520px !important;
  width: 100%;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
}
.bonus_point__wrapper {
  max-width: 520px;
  width: 100%;
  margin-left: auto;
}
.bonus-point__text {
  font-size: 16px;
  margin-top: 15px;
}
.coupon__wrapper input[type="text"],
.bonus_point__wrapper input[type="number"] {
  background: #f2f2f2 !important;
  color: #8f5e30 !important;
  border: none !important;
  border-radius: 0 !important;
  height: 40px !important;
  margin: 0 !important;
}
.coupon__wrapper input[type="text"]::placeholder,
.bonus_point__wrapper input[type="number"]::placeholder {
  color: #8f5e30 !important;
}
.coupon__wrapper input[type="submit"] {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #000;
  transition: all 0.3s ease-in-out;
}
.bonus_point__wrapper input[type="submit"] {
  background: #8f5e30 !important;
  color: #fff !important;
  border: 1px solid #8f5e30;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  font-weight: 400;
}
.coupon__wrapper input[type="submit"]:hover {
  background: #fff !important;
  color: #000 !important;
}
.bonus_point__wrapper input[type="submit"]:hover {
  background: #fff !important;
  color: #8f5e30 !important;
}
@media (max-width: 992px) {
  .single-product .related.products ul.products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .woocommerce div.product div.images,
  .woocommerce div.product div.summary {
    float: none;
    width: 100%;
  }
  .woocommerce div.product div.images {
  }
  .woocommerce div.product div.summary {
  }
  .single-product .related.products ul.products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .single-product .related.products ul.products {
    grid-template-columns: repeat(1, 1fr);
  }
}
