<span style='color: #000' title='Frames'>   136</span><span style='color: #009' title='Memory'> 125440.00 KB</span><span style='color: #900' title='Time'>    105.98 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />