

/*
/*  We added some css in below for change theme's fonts to Arabic.
/*  If you want to use them, you can copy them in your child theme
/*  or directly comment out below lines!
*/

/******************* Arabic font *******************/

/*
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

	body, h1, h2, h3, h4, h5, h6, #sidebar .widget-heading h3, #header-search input, .header-items h3.phone-number, .related-wrap h4, #comments-list > h3,
	.item-heading h1, .sf-button, button, input[type="submit"], input[type="email"], input[type="reset"], input[type="button"], .spb_accordion_section h3,
	#header-login input, #mobile-navigation > div, .search-form input, input, button, select, textarea{font-family: 'Droid Arabic Naskh',serif !important;}
	nav .menu li{font-family: 'Droid Arabic Naskh',serif !important;}
	.custom-caption p, span.dropcap1, span.dropcap2, span.dropcap3, span.dropcap4, .spb_call_text, .impact-text, .testimonial-text, .header-advert{font-family: 'Droid Arabic Naskh',serif !important;}
*/


body{direction:rtl;unicode-bidi:embed;}
#main-navigation ul.menu > li {float: right;}
nav .menu li{ float: right;}
#super-search .search-options input{width: 100px;}
nav .menu ul.sub-menu{right:0;left:auto;}
nav .menu ul.sub-menu li:first-child:before{right: 20px;left: auto;}
nav .menu ul li.parent > a{ padding-left: 24px; padding-right: 15px;}
nav .menu .sub-menu .parent > a:after{left: 10px;right: auto;border-right: 4px solid #CCCCCC;border-left: none;}
nav#main-navigation .menu ul ul{right:100%;left:auto;}
#main-navigation ul.menu{text-align:right;}
li.menu-item.sf-mega-menu > ul.sub-menu{right:30px;left:auto;}
.header-1 li.menu-item.sf-mega-menu > ul.sub-menu, .header-2 li.menu-item.sf-mega-menu > ul.sub-menu, .header-3 li.menu-item.sf-mega-menu > ul.sub-menu{ right: 0;left: auto;}
li.menu-item.sf-mega-menu.sf-mega-menu-natural-width > ul.sub-menu{right:auto}
.header-right nav .menu ul.sub-menu, .tb-right nav .menu ul.sub-menu{ right: auto;left: 0;}
.header-right nav .menu .menu-search ul.sub-menu li:first-child:before{left: 12px;right: auto;}
nav#main-navigation li.menu-item.sf-mega-menu > ul.sub-menu > li ul, nav#main-navigation li.menu-item.sf-mega-menu > ul.sub-menu > div > li ul, nav#mini-navigation li.menu-item.sf-mega-menu > ul.sub-menu > li ul{right:0 !important;left: auto !important;}
li.menu-item.sf-mega-menu[data-megamenucols="3"] > ul.sub-menu > li, li.menu-item.sf-mega-menu[data-megamenucols="3"] > ul.sub-menu > div > li{float:right;}
li.menu-item.sf-mega-menu[data-megamenucols="4"] > ul.sub-menu > li, li.menu-item.sf-mega-menu[data-megamenucols="4"] > ul.sub-menu > div > li{float:right;}
li.menu-item.sf-mega-menu[data-megamenucols="2"] > ul.sub-menu > li, li.menu-item.sf-mega-menu[data-megamenucols="2"] > ul.sub-menu > div > li{float:right;}
li.menu-item.sf-mega-menu[data-megamenucols="5"] > ul.sub-menu > li, li.menu-item.sf-mega-menu[data-megamenucols="5"] > ul.sub-menu > div > li{float:right;}
li.menu-item.sf-mega-menu[data-megamenucols="6"] > ul.sub-menu > li, li.menu-item.sf-mega-menu[data-megamenucols="6"] > ul.sub-menu > div > li{float:right;}
nav .menu .sf-mega-menu ul.sub-menu li {
    min-width: auto;
}
nav .menu ul li > a{max-width: none;}
li.menu-item.sf-mega-menu > ul.sub-menu > li:first-child{border-right: none;}
li.menu-item.sf-mega-menu > ul.sub-menu > li{border-width: 1px 1px 0 0;float:right;border-right: 1px solid #e4e4e4;}
li.menu-item.sf-mega-menu ul.sub-menu li.menu-item > a{text-align:right;}
#header-section .header-menu .menu > li{ border-right: 1px solid #E4E4E4; border-left: none;}
nav .menu > li:first-child > a {padding-right: 0;padding-left: 12px;}
#header-section .header-menu .menu > li:first-child{border-right: none;}
.header-left > nav .tb-welcome{padding-left: 10px;padding-right: 0;}
#main-navigation{margin-right: -10px;margin-left: auto;}
.header-right > nav{  float: left; margin-left: -10px; margin-right: auto;}
.header-1 .header-right > nav, .header-2 .header-right > nav, .header-3 .header-right > nav{ margin-left: -10px; margin-right: auto;}
.tb-right ul.social-icons.small{ float: left;margin-left: -5px;margin-right: auto;}
ul.social-icons li{float: right;margin-left: 12px;margin-right: auto;}
ul.social-icons.small li{  float: right; margin: 0 0 0 5px;}
.tb-right ul.social-icons.small li{margin: 0 5px 0 0;}
ul.products li.product .price{float: left;}
ul.products li.product .product-details{float: right;}
.posted_in,.details-wrap{text-align: right !important;direction:rtl;}
.mini-list li figure{float: right;}
.mini-list li .product-details{  margin-right: 85px;  margin-left: auto;}
#copyright p{float: right;}
#copyright .beam-me-up{ float: left;text-align: left;}
.swift-search-link span{  margin-right: 5px;  margin-left: auto;}
.yith-wcwl-add-to-wishlist{float: right;border-right: 1px solid #444444;border-left: none;}
.woocommerce ul.products li.product figure figcaption .yith-wcwl-add-to-wishlist{float: left;  border-right-color: rgba(255, 255, 255, 0.2);}
.recent-post .post-item-details .comments-likes .fa-comments{ margin-left: 3px; margin-right: auto;}
.tp-bullets.simplebullets.round .bullet.last{  margin-right: 7px !important;}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3,.woocommerce .products ul li, .woocommerce ul.products li, .woocommerce-page .products ul li, .woocommerce-page ul.products li{text-align: right;}
.spb_portfolio_carousel_widget .portfolio-item h4 span{float: right;}
.spb_portfolio_carousel_widget .portfolio-item h4.portfolio-item-title a > i{float: left;}
.portfolio-item-title .fa-angle-right:before{content: "\f104";}
.read-more .fa-chevron-right:before{content: "\f053";}
a.sf-button .arrow{background-image: url("rtl-images/rtl-button-arrow.png"); margin-right: 7px; margin-left: auto;}
a.sf-button.lightgrey .arrow, a.sf-button.green .arrow, a.sf-button.limegreen .arrow, a.sf-button.white .arrow {background-image: url('rtl-images/rtl-button-arrow2.png');}
.spb_gmaps_widget,.flex-viewport{direction: ltr;}
.flexslider ul.slides{direction: rtl;}
#swift-slider .flex-caption-large,#swift-slider .flex-caption{ text-align: right;}
#swift-slider .flex-caption-large .cl-charts,#swift-slider .flex-caption-large .cl-charts .chart,.caption-details-inner .details, .flex-caption-large .details,#swift-slider .flex-caption h4 span{float:right;}
#swift-slider .flex-caption .chart,#swift-slider .flex-caption h4 i{float:left;}
#swift-slider .flex-caption-large .chart{  margin-left: 15px;  margin-right: auto;}
.flex-caption.caption-left{right:0;left:auto;}
.flex-caption-headline .fa-angle-right:before{content: "\f104";}
.flex-direction-nav a, .wooslider-direction-nav a{text-indent: 9999px;}
.team-member .team-member-name,.team-member .team-member-position,.team-member .team-member-bio,.team-member .member-contact{text-align: right;}
.page-heading .heading-text{float:right;}
#breadcrumbs{float:left;}
.nav-tabs > li, .nav-pills > li{float:right;}
.spb_tabs .nav-tabs li a{border-left-width: 1px;border-right-width: 0;}
.spb_tabs .nav-tabs li:first-child a{border-right-width: 1px;}
.ui-accordion .ui-accordion-header .ui-icon{right:auto !important;left:0 !important;}
.progress .bar{float: right;}
.progress .bar-text{right:0;left:auto;text-align: right;}
.progress .bar-text > span{float: left;}
a.sf-button{ margin: 0 0 20px 20px;}
.wpcf7 input.wpcf7-submit[type="submit"]{background-image: url("rtl-images/rtl-button-arrow.png"); padding: 8px 14px 7px 28px; background-position: 17% center;}
.recent-posts-list li .recent-post-image{float: right;}
.recent-posts-list li .recent-post-details{margin-right: 100px;margin-left: auto;}
.comments-likes .fa-comments{margin-left: 5px;margin-right: auto;}
.comments-likes .love-it-wrapper{margin-right: 5px;margin-left: auto;}
.sf-list li{ padding: 0 20px 0 0;}
.list-dot li{background-position: right 5px;}
.widget_search form:after{float: left; left: 0; right: auto;padding-left: 10px; padding-right: 0;}
.faqs-nav li .count{float:left;}
.faqs-nav li i{ margin-left: 8px; margin-right: auto;}
.faqs-nav li{float:right;margin: 0 0 10px 10px;}
.spb_heading i{float: right;margin-left: 10px;margin-right: auto;}
.pricing-table-column{float: right;border-width: 1px 0 1px 1px;}
.pricing-table-column:first-child{  border-right: 1px solid #E4E4E4;}
.pricing-table-column:first-child, .pricing-table-wrap.bordered .pricing-table-column, .pricing-table-wrap.bordered_alt .pricing-table-column{ border-right: 1px solid #E4E4E4;}
.labelled-pricing-table .pricing-table-column{ padding-right: 1px; padding-left: 0;}
.widget .wp-tag-cloud li{float: right;}
.widget ul.wp-tag-cloud li > a{margin-left: 4px;margin-right: auto;}
.widget_categories ul > li a:before, .widget_archive ul > li a:before, .widget_nav_menu ul > li a:before, .widget_meta ul > li a:before, .widget_recent_entries ul > li a:before, .widget_product_categories ul > li a:before{float:left;content: "\f104";}
code, pre{direction: ltr;}
.spb_divider.go_to_top_icon2 a i{padding-right: 6px;padding-left: 0;}
span.dropcap1, span.dropcap2{float: right;margin-left: 8px;margin-right: auto;}
span.dropcap3, span.dropcap4{float: right;margin: 4px 0 2px 10px; padding: 4px 11px 4px 10px;}
.list-arrow li,.list-arrow_bw li,.list-add li,.list-add_bw li,.list-bolt li,.list-bolt_bw li,.list-article li,.list-delete li,.list-delete_bw li,.list-date li,.list-question_bw li,.list-pen li,.list-like li,.list-like_bw li,.list-star_bw li,.list-settings li,.list-settings_bw li,.list-question li,.list-user li,.list-tick li,.list-tick_bw li,.list-star li,.list-warning li,.list-warning_bw li{ background-position: right 3px;}
.list-bar li{ background-position: right 6px;}
.list-arrow_bw li{background: transparent url('rtl-images/rtl-arrow_b&w.png') no-repeat right 3px;}
.list-arrow li{background: transparent url('rtl-images/rtl-arrow_colour.png') no-repeat right 3px;}
.alert .messagebox_text:before{ float: right; margin-left: 13px; margin-right: auto;}
.alert .messagebox_text{padding-right: 0;}
.alert{text-align: right;}
.alert .messagebox_text p{float:right;}
.pricing-table-wrap.bordered .pricing-table-price{float:left;}
.sf-icon{padding: 0 0 6px 5px;}
.sf-icon-float-left{float:right;padding: 5px 0 0 10px;}
.sf-icon-cont{margin-left: 20px;margin-right: auto;}
table.standard_minimal th{ padding: 10px 0 10px 30px;}
table.sf-table th{text-align: right;}
table.standard_minimal td{padding: 10px 0 10px 30px;}
.nav-tabs > li > a, .nav-pills > li > a{margin-left: 2px;margin-right: auto;}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a{margin-left: 0;margin-right: auto;}
.tabs-left > .nav-tabs > li > a{margin-left: -1px;margin-right: auto;}
.nav{ margin-right: 0; margin-left: auto;}
.tabs-left > .nav-tabs{float: right;margin-left: 19px;margin-right: auto;border-left: 1px solid #DDDDDD;border-right: none;}
.spb_tour .nav-tabs{margin-left: 0;margin-right: auto;border-left: none;}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover{border-color: #DDDDDD #DDDDDD #DDDDDD transparent;}
.blog-aux-options li a i{ margin-left: 5px; margin-right: 0;}
.blog-aux-options li form:after{float: left; left: 0; right: auto;padding-left: 10px;padding-right: 0;}
.blog-aux-options li{margin-right: 15px;margin-left: auto;}
.blog-aux-options li:first-child{margin-right: 0;}
.pagenavi,.page-numbers{ direction: ltr;}
.mini-items .blog-item figure{float: right;margin-left: 20px;margin-right: auto;}
.aux-list.row{  margin-right: -30px;  margin-left: auto;}
.filter-wrap ul li{float:right;}
.woocommerce .help-bar span{float: right;}
.woocommerce .help-bar ul{float: left;}
.my-account-left{float: right;margin-left: 4%;margin-right: auto;}
.my-account-right{float: left;}
ul.my-account-nav > li a:before{float: left;content: "\f104";}
.yith-wcwl-share ul{float: left;}
a.pp_close,a.pp_previous,a.pp_next,a.pp_expand, a.pp_contract,a.pp_arrow_previous, a.pp_arrow_next,.pp_nav .pp_play, .pp_nav .pp_pause{text-indent: 10000px; direction: ltr;}
.pp_description{margin-right: 40px;text-align: right;}
.wishlist_table tr td.product-thumbnail, .wishlist_table tr td.product-name{text-align: right;}
.woocommerce .wishlist_table tr td.product-add-to-cart a:before{margin-left: 8px;margin-right: auto;}
.wishlist_table .product-price, .wishlist_table .product-stock-status{text-align: right;}
.woocommerce table.wishlist_table td.product-thumbnail{padding-left: 1%;padding-right: 0;}
.woocommerce .wishlist_table tr td.product-add-to-cart a{padding: 10px 15px 10px 20px;margin-left: 0;margin-right: auto;}
.woocommerce #account_details .login form p.form-row input[type="submit"], .my-account-login-wrap .login-wrap form.login p.form-row input[type="submit"], .woocommerce .my-account-login-wrap form input[type="submit"], .lost_reset_password p.form-row input[type="submit"], .track_order p.form-row input[type="submit"], .change_password_form p input[type="submit"], .woocommerce table.my_account_orders .order-actions .button, .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce.widget .buttons a, .woocommerce .wishlist_table tr td.product-add-to-cart a, #login-form .modal-body form.login p.form-row input[type="submit"], .woocommerce input[name="save_account_details"], .login p.form-row input[type="submit"]{float:right;margin-left: 20px;margin-right: auto;}
.woocommerce table.shop_table tr td.product-remove .remove{float:left;}
.woocommerce table.shop_table, .woocommerce-page table.shop_table{text-align: right;}
.woocommerce table.shop_table, .woocommerce-page table.shop_table{margin: 0 0 24px -1px;}
.woocommerce .addresses .title h3, .woocommerce-page .addresses .title h3{float:right;}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{float:right;}
.woocommerce form .form-row-last, .woocommerce-page form .form-row-last{float:left;}
.filter-wrap .select i{margin-left: 10px;}
.filter-wrap ul li a span.item-name{float:right;}
.filter-wrap ul li a span.item-count{float: left;}
.woocommerce .button.update-cart-button, .woocommerce .button.checkout-button{text-align: right;}
.woocommerce table.shop_table tr td.product-quantity .quantity{float:right;}
.woocommerce .quantity, .woocommerce-page .quantity{margin-left: 10px !important;margin-right: auto !important;}
.woocommerce .coupon input.input-text{float:right;}
.woocommerce input[name="apply_coupon"]{float:left;}
.woocommerce .shipping-calculator-form .form-row-left{margin: 0 0 0 1.8%;}
.woocommerce form #customer_details .form-row label{float:right;}
.woocommerce form #customer_details .form-row input{float:left;}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message{ padding: 1em 3.5em 1em 1em !important;}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before{right: 1em;left: auto;}
#order_review table.shop_table td.product-name{text-align: right;}
#payment ul.payment_methods li input{ float: right;margin: 5px 0 0 6px;}
.woocommerce #payment ul.payment_methods li input, .woocommerce-page #payment ul.payment_methods li input{margin: 0 0 0 1em;}
.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li{text-align: right;}
.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after{right: 0;left: auto;margin: -1em 2em 0 0;}
.woocommerce .order_details li, .woocommerce-page .order_details li{float:right; border-left: 1px dashed #DFDBDF; border-right: none;margin-left: 2em;margin-right: auto;padding-left: 2em;padding-right: 0;}
table.totals_table tr th{text-align: right;}
table.totals_table tr td{ text-align: left;}
dl dt{float: right;margin-left: 10px;margin-right: auto;}
dd{margin-right: 10px;margin-left: auto;}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{float:right;}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{float:left;}
.woocommerce form.cart button.single_add_to_cart_button i{margin-left: 10px;margin-right: auto;}
.woocommerce form.cart .yith-wcwl-add-to-wishlist{float:right;}
.woocommerce form.cart button.single_add_to_cart_button{float:right;}
.woocommerce div.product form.cart div.quantity, .woocommerce #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity{float:right;margin: 0 0 0 4px;}
.woocommerce div.product .summary p.price, .woocommerce-page div.product .summary p.price{float:right; margin-left: 20px; margin-right: auto;}
.product-share span{float:right;}
.product-share ul{float:left; margin-left: -10px; margin-right: auto;}
.woocommerce table.shop_attributes th{ text-align: right;}
.woocommerce table.shop_attributes td{ text-align: left;}
.product_meta p .leave-feedback{float:left;}
.close{float:left;}
.modal-body .comment-form-rating label{float: right;  margin-left: 15px;  margin-right: auto;}
.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after, .woocommerce-page p.stars a.star-1:after, .woocommerce-page p.stars a.star-2:after, .woocommerce-page p.stars a.star-3:after, .woocommerce-page p.stars a.star-4:after, .woocommerce-page p.stars a.star-5:after{right: 0;left: auto;}
.woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5, .woocommerce-page p.stars a.star-1, .woocommerce-page p.stars a.star-2, .woocommerce-page p.stars a.star-3, .woocommerce-page p.stars a.star-4, .woocommerce-page p.stars a.star-5{border-left: 1px solid #CCCCCC;border-right: none;}
.woocommerce p.stars a, .woocommerce-page p.stars a{margin-left: 1em;margin-right: auto;}
.woocommerce p.stars a:last-child, .woocommerce-page p.stars a:last-child{border-left: none;}
.modal-body .comment-form-author input, .modal-body .comment-form-email input{margin-right: 10px;margin-left: auto;}
.modal-body #commentform p span.required{float: right;margin-right: 4px;margin-left: auto;}
.modal-body .comment-form-author label, .modal-body .comment-form-email label{float:right;}
.woocommerce form.login, .woocommerce form.checkout_coupon, .woocommerce form.register, .woocommerce-page form.login, .woocommerce-page form.checkout_coupon, .woocommerce-page form.register{text-align: right;}
.order-status{text-align: right !important;}
.share-links .share-text{float: right;margin-left: 10px;margin-right: auto;}
.comments-likes{float:left;}
.share-links > ul > li{ float: right;margin-left: 12px;margin-right: auto;}
.woocommerce table.my_account_orders .order-actions .button{float:none;margin: 0;}
.woocommerce table.my_account_orders .order-actions, .woocommerce-page table.my_account_orders .order-actions{ text-align: left;}
.summary-top .product-navigation{float:left;}
.loved-item .loved-count > i{margin-left: 2px;margin-right: auto;}
.author-avatar{float: right; margin-left: 20px; margin-right: auto;}
.post-info{float: right;}
#commentform p span.required{float:left;}
.comment-wrap .comment-avatar{float:right;}
.comment-content{margin-right: 70px;margin-left: auto;}
.comment-meta .edit-link{  margin-right: 5px;  margin-left: auto;}
.comment-meta .meta-sep{margin: 0 1px 0 0;}
#comments-list li ul{margin: 0 30px 0 0;}
.wishlist-link span{   margin-right: 6px;   margin-left: auto;}
.menu > li.shopping-bag-item a > i.sf-cart, .mobile-cart-link i.sf-cart{ margin-left: 6px; margin-right: auto;}
.header-right nav .menu ul.sub-menu li:first-child:before, .tb-right nav .menu ul.sub-menu li:first-child:before{left: 20px;right: auto;}
.bag-buttons a{text-align: right;}
.header-right nav .menu .wishlist-item ul.sub-menu li:first-child:before{left: 21px;right: auto;}
.bag-product figure{float:right;}
.bag-product .bag-product-details{ margin-right: 82px; margin-left: auto;}
#super-search .search-options .ss-dropdown ul{right:0;left:auto;}
#super-search .search-options .ss-dropdown ul li{ padding-left: 38px; padding-right: 0;}
#super-search .search-options .ss-dropdown ul li a{ float: right;padding-right: 10px;padding-left: 0;border-left: 1px solid #E4E4E4;border-right: none;}
#super-search .search-options .ss-dropdown ul li .fa-check{left:0;right:auto;}
#main-nav .header-right ul.menu > li{  border-left: none;border-right: 1px solid #E4E4E4;}
#main-nav .header-right ul.menu > li:first-child{ border-right: 0 none;}
.wishlist-item{border-right: 1px solid #E4E4E4;border-left: none;}
ul.social-icons.small li{float:right; margin: 0 0 0 5px;}
#logo.logo-right img{ float: left;}
#logo.logo-right{float:left;}
nav .menu ul.sub-menu li{ min-width: 150px;}
.header-5 #main-navigation{float:right;}
nav .menu .wishlist-item ul.sub-menu li:first-child:before{ right: 21px; left: auto;}
.blog-pagination .nav-next i{ margin-right: 8px; margin-left: auto;}
.blog-pagination .nav-previous i{ margin-right: auto; margin-left: 5px;}
.portfolio-details-wrap .item-link{float:left;}
.portfolio-details-wrap .client, .portfolio-details-wrap .date{  margin-left: 20px;  margin-right: auto;}
.portfolio-details-wrap .item-link .fa-angle-right:before{content: "\f104";}
.portfolio-pagination .nav-next i{ margin-right: 8px; margin-left: auto;}
.portfolio-pagination .nav-previous i{ margin-right: auto; margin-left: 5px;}
.post-info .author-name{ margin-left: 10px; margin-right: auto;}
.page-heading{text-align: right;}
.woocommerce .cart_totals table th{text-align: right;}
.portfolio-grid li{float: right;margin: 0 0 10px 10px !important;}
.standard-post-details .comments-likes .love-it-wrapper{ margin-right: 0; margin-left: auto;}
.search-result-pt h6, .no-search-results h6{padding-right: 20px;padding-left: 0;}
.search-result .search-item-img, .search-result .search-item-img img, .search-result .search-item-img .img-holder{float:right;}
.search-result .search-item-content{ margin-right: 48px; margin-left: auto;}
.hero-unit h1,.search-result-pt h6, .no-search-results h6,table.sf-table th,.summary-top .review-summary .star-rating,.woocommerce #reviews #comments ol.commentlist li .comment-text .star-rating,.mini-list li .star-rating,table.totals_table tr.total th, table.totals_table tr.total td {letter-spacing: 0 !important;}
.ajax-search-wrap .ajax-loading{left:18px;right:auto;}
.mini-items .blog-item-details{ margin-right: 2px;}
.widget_sf_infocus_widget .infocus-item h5{float:right;}
.infocus-title .love-it-wrapper{float: left;margin: 10px 0 10px 16px;}
.wc-forward:after, .wc-forward a:after{ margin-right: 7px; margin-left: auto;}
.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column{margin-right: 2%;margin-left: 0;}
.bordered.columns-3 .pricing-table-column:first-child, .bordered_alt.columns-3 .pricing-table-column:first-child{ margin-right: 0;}
#top-bar .menu li{float:right;}
#top-bar .menu > li{border-right: 1px solid transparent;border-left: none;}
#top-bar .menu > li:first-child{border-right-width: 0;border-left-width: 1px;}
#top-bar .tb-welcome{padding: 3px 0 3px 10px;}
#super-search .search-go{padding-top:0;}
#top-bar .tb-right .top-menu{float: left;margin-left: -10px;margin-right: auto;}
#mini-header .header-right nav .menu li:first-child{border-right: 0;}
#mini-header .header-right nav .menu li{border-right: 1px solid #e4e4e4;border-left: none;}
#mini-navigation .menu ul{right: 0!important;left: auto !important;}
#super-search-go{margin-left: 10px;margin-right: 10px;}
li.product figcaption .shop-actions > a{float:right;right:0;left:auto;}
.carousel-wrap{direction:ltr;}
.product,.recent-post .post-details{direction:rtl;}
.header-wrap [class*="span"] {float:right; margin-right: 20px; margin-left: auto;}
.spb_featured_clients_widget [class*="span"] {float:right; margin-right: 20px; margin-left: auto;}
.aux-list [class*="span"]{float: right; margin-right: 20px; margin-left: auto;}
.related-items [class*="span"]{ float: right;}
#super-search .container [class*="span"]{ float: right;margin-right: 20px;margin-left: auto;}
#mini-header [class*="span"] {float:right; margin-right: 20px; margin-left: auto;}
.header-wrap .row{margin-right: -20px;margin-left: auto;}
#mini-header .row{margin-right: -20px;margin-left: auto;}
.spb_featured_clients_widget .row{margin-right: -20px;margin-left: auto;}
#super-search .container .row{margin-right: -20px;margin-left: auto;}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale{left:0;right:auto;margin: -6px 0 0 -6px;}
.woocommerce span.onsale, .woocommerce .wc-new-badge, .woocommerce .out-of-stock-badge, .woocommerce .free-badge{  left: -31px !important;  right: auto !important; transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
#mini-navigation .menu ul li ul{right: 100%!important;left:auto !important;}
ul.products li.product .price, .woocommerce ul.products li.product .price{float:left;}
#product-img-slider li a.zoom{right: 20px;left: auto;}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {
    float: left;
}
.woocommerce .cart_totals table td {
    text-align: left;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{text-align: right;}

#order_review table.shop_table td, #order_review table.shop_table th.product-total {
    text-align: left;
}
.ilightbox-toolbar.metro-white{right: 8px;left:auto;}
.blog-filter-wrap.filter-wrap ul li a span{float: left;}
.standard-post-author .author-avatar{margin-left: 0;}
.sidebar .widget_shopping_cart .buttons > a{
margin-left: 0 !important;
 margin-right: 2% !important;
}
.sidebar .widget_shopping_cart .buttons > a:first-child {
    margin-right: 0 !important;
}



/* Responsive */

@media(min-width:1200px){
.header-wrap [class*="span"] {float:right; margin-right: 30px; margin-left: auto;}
#mini-header [class*="span"] {float:right; margin-right: 30px; margin-left: auto;}
.spb_featured_clients_widget [class*="span"] {float:right; margin-right: 30px; margin-left: auto;}
.aux-list [class*="span"]{float: right; margin-right: 30px; margin-left: auto;}
#super-search .container [class*="span"]{ float: right;margin-right: 30px;margin-left: auto;}
.header-wrap .row{margin-right: -30px;margin-left: auto;}
#mini-header .row{margin-right: -30px;margin-left: auto;}
.spb_featured_clients_widget .row{margin-right: -30px;margin-left: auto;}
#super-search .container .row{margin-right: -30px;margin-left: auto;}
}


@media (max-width: 767px) {
.header-wrap .row{margin-right: 0;}
#mini-header .row{margin-right: 0;}
.spb_featured_clients_widget .row{margin-right: 0;}
#super-search .container .row{margin-right: 0;}
#super-search .search-go{padding-left: 20px;padding-right: 0;}
#super-search .container [class*="span"]{margin-right: 0;}
.alt-bg{margin-right: -20px !important;margin-left: auto !important;}
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
#respond .form-submit input, .wpcf7 input.wpcf7-submit[type="submit"], a.sf-button .arrow {background-image: url('rtl-images/rtl-button-arrow@2x.png');}
a.sf-button.lightgrey .arrow, a.sf-button.green .arrow, a.sf-button.limegreen .arrow, a.sf-button.white .arrow {background-image: url('rtl-images/rtl-button-arrow2@2x.png');}
.list-arrow_bw li {background-image: url('rtl-images/rtl-arrow_b&w@2x.png');}
.list-arrow li {background-image: url('rtl-images/rtl-arrow_colour@2x.png');}
}

@media only screen and (max-width: 979px){
.header-wrap [class*="span"]{margin-right: 0;}
nav .menu > li{
	text-align: right;
	}
#main-navigation ul li.parent > a:after{
	float: left;
	right: auto;
    left: 0;
	margin-left: -3px;
    margin-right: auto;
	}
}
/* custom css */
/*
.woocommerce div.product div.images{width: 40%;} 
.woocommerce div.product div.summary{width: 56%;}
*/
